h1,
p {
  font-family: Lato;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  all: unset;
  padding: 4px;
  border-radius: 4px;
  outline: none;
  margin: 5px;
  box-shadow: 0 0 4px 1px gray;
}

input:hover,
input:focus {
  outline: 2px solid rgb(120, 120, 120);
}

button {
  background-color: rgb(20, 141, 125);
  padding: 8px;
  margin: 5px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.115s ease-in-out;
  color: white;
  font-weight: 400;
}

button:hover {
  background-color: rgb(31, 180, 160);
}
