h1,
p {
  font-family: Lato;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  all: unset;
  padding: 4px;
  border-radius: 4px;
  outline: none;
  margin: 5px;
  box-shadow: 0 0 4px 1px gray;
}

input:hover,
input:focus {
  outline: 2px solid rgb(120, 120, 120);
}

button {
  background-color: rgb(199, 204, 202);

  padding: 4px;
  margin: 5px;
  border-radius: 4px;
  outline: none;
  border: none;
  box-shadow: 0 0 4px 1px gray;
  cursor: pointer;
  transition: 0.115s ease-in-out;
}

button:hover {
  background-color: rgb(160, 202, 188);
}
